#kk-navbar {
    color: white !important;
    background-color: #6F4E37 !important;
}

#kk-navbar a {
    color: inherit;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#kk-navbar a:hover {
    color: #6F4E37;
    background-color: white;
}

#kk-navbar>.container>.navbar-brand:hover {
    color: inherit !important;
    background-color:inherit !important;
}